

.drawer {
    /* margin-top: 65px; */
    width: 50%;
    max-width: 300px;
    height: 100%;
    background: rgb(26, 25, 25);
    box-shadow: 13px 0px 25px -2px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);   /* drawer is positioned all the way to left / not on screen */
    transition: transform 0.3s ease-out;  /* animates drawer when tranform property changes, animates for 0.3 seconds, ease-out = start animation fast and end it slowly */
}

.close-button {
    color: white;
    top: 0;
}

/* for elements with both 'drawer' and 'open' classes ... */
.drawer.open {
    transform: translateX(0);   /* default position */
}

.drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px 0px;
}

.drawer a {
    color: rgba(255, 255, 255, 0.31);
    text-decoration: none;
    font-size: 25px;
}

.drawer a:hover {
    color: white;
}

.menu-drawer-icons {
    margin: 0 1.5rem;
}

@media (min-width: 769px) {
    .drawer {
        display: none;
    }
}