.about {
    padding: 65px 50px 0;
    background: rgba(49, 49, 218, 0.65);
}

.about-heading {
    color: #480355;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-section {
    font-size: larger;
    color: rgba(255, 255, 255, 0.9);
}

ul {
    columns: 2;
}

.resume-content {
    display: flex;    
    align-items: flex-start;
}

.resume-description {
    margin-top: -50px;
    text-align: center;
}

.download {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.purple-section {
    background: #715AFF;
    /* width: 40%; */
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}

.blue-section {
    background: #5887FF;
    /* width: 40%; */
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}