.about {
    padding: 65px 50px 7%;
    background: rgba(49, 49, 218, 0.65);
    position: relative;
    overflow: hidden;
}

.heading {
    color: #5887FF;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speech-bubble {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transform: scale(0);
    transform-origin: 100% 50%;
    animation-fill-mode: forwards;
    animation: animateSpeechBubble 35s linear infinite;
}
.speech-bubble::before {
    content: "";
    display: block;
    width: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8);
    /* following 3 lines of code positions pointy part of speech bubble */
    position: absolute;
    top: 30%;
    left: 100%;
}
@keyframes animateSpeechBubble {
    10% {transform: scale(1);}
    80% {transform: scale(1);}
    90% {transform: scale(0);}
    100% {transform: scale(0);}
}
.about-speech-bubble {
    width: 15%;
    z-index: 0;
}
.about-speech-bubble:hover {
    cursor: pointer;
    transform: scale(1);
    font-weight: 500;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}
.sea-lion-speech {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
    position: absolute;
    width: 100%;
}
.sea-lion {
    width: 40%;
    height: 40%;
    transform: scaleX(-1);
    margin-left: 1.5%;
    z-index: 1;
}

.about-me-section {
    background: #715AFF;
    width: 40%;
    /* display: inline-block; */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.hobby-section {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 2;
}

.resume-content {
    display: flex;    
    align-items: flex-start;
}

.download {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: #715AFF;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}
.download:hover {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}
.download:active {
    box-shadow: 1px 1px 5px #000000;
}