.contact {
    padding-top: 65px;
    background: rgba(11, 17, 139, 0.75);
    height: 89.6vh;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.755);
    text-decoration: none;
    margin-bottom: 2%;
}
.contact-links:hover {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}
.contact-link-icon {
    color: #715AFF;
    margin-right: 1%;
}