.home {
    height: 100%;
    padding-top: 115px;
    background-color: #7698d4;
    overflow: hidden; /* hides horizonal scroller when cloud moves off screen to the right */
    position: relative;
    text-align: center;
    z-index: -2;
}

/* base of cloud */
.cloud {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    background: #fff;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05);
    opacity: 50%;
    z-index: -1;
}
/* left clump of cloud */
.cloud:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 45px;
    background: #fff;
    content: '';
}
/* right clump of cloud */
.cloud:after {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    right: 40px;
    background: #fff;
    content: '';
}
/* cloud animations */
.cloud1 {
    transform: scale(0.5);
    opacity: 25%;
    animation: animateCloud1Initial 30s 1, animateCloud1Loop 60s linear infinite 30s;
}
@keyframes animateCloud1Initial {
    0% {left: 60%}
    100% {left: 100%}
}
@keyframes animateCloud1Loop {
    0% {left: -30%}
    100% {left: 100%}
}
.cloud2 {
    transform: scale(0.75);
    opacity: 38%;
    animation: animateCloud2 70s linear infinite;
}
@keyframes animateCloud2 {
    0% {margin-left: -50%;}
    100% {margin-left: 100%;}
}
.cloud3 {
    animation: animateCloud3Initial 50s linear 1, animateCloud3Loop 65s linear infinite 45s;
}
@keyframes animateCloud3Initial {
    0% {margin-left: 10%;}
    100% {margin-left: 150%;}
}
@keyframes animateCloud3Loop {
    0% {margin-left: -100%;}
    100% {margin-left: 150%;}
}

.home-title {
    color: #480355;
    font-size: 100px;
    display: flex;
    justify-content: center;    /* make text and icon in center of title flexbox */
    align-items: center;    /* make main axis of text and icon align in center */
    /* text-shadow: 1px 1px 5px #000000; */
    margin-top: -250px;
    z-index: 0;
}

.intro {
    display: inline-block;
    background: #715AFF;
    padding: 20px;
    border-radius: 20px;
    margin: 3% 0 5%;
    z-index: 0;
}

.wave-background {
    width: 100%;
    color: white;
    background: transparent;
}
.wave {
    height: 250px;
    /* height: 100%; */
    background: rgb(49, 49, 218);
    margin-top: -10%;
    animation: animateWave 5s ease-in-out infinite;
}
@keyframes animateWave {
    0%, 100% {
        clip-path: polygon(0 76%, 13% 74%, 29% 75%, 44% 80%, 57% 86%, 71% 87%, 85% 87%, 100% 82%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 78%, 12% 85%, 23% 90%, 32% 91%, 49% 86%, 67% 79%, 83% 77%, 100% 79%, 100% 100%, 0% 100%);
    }
}

.website-guide {
    background: rgb(0,5,126);
    background: linear-gradient(0deg, rgba(0,5,126,1) 0%, rgba(49,49,218,1) 100%);
}