.home {
    height: 100%;
    padding-top: 115px;
    background-color: #7698d4;
    overflow: hidden; /* hides horizonal scroller when cloud moves off screen to the right */
    position: relative;
    text-align: center;
}

/* base of cloud */
.cloud {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    background: #fff;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05);
    opacity: 50%;
    z-index: 0;     /* by default when transform is used */
}
/* left clump of cloud */
.cloud:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 45px;
    background: #fff;
    content: '';
}
/* right clump of cloud */
.cloud:after {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    right: 40px;
    background: #fff;
    content: '';
}
/* cloud animations */
.cloud1 {
    transform: scale(0.5);
    opacity: 25%;
    animation: animateCloud1Initial 30s 1, animateCloud1Loop 60s linear infinite 30s;
}
@keyframes animateCloud1Initial {
    0% {left: 60%}
    100% {left: 100%}
}
@keyframes animateCloud1Loop {
    0% {left: -30%}
    100% {left: 100%}
}
.cloud2 {
    transform: scale(0.75);
    opacity: 38%;
    animation: animateCloud2 70s linear infinite;
}
@keyframes animateCloud2 {
    0% {margin-left: -50%;}
    100% {margin-left: 100%;}
}
.cloud3 {
    animation: animateCloud3Initial 50s linear 1, animateCloud3Loop 65s linear infinite 45s;
}
@keyframes animateCloud3Initial {
    0% {margin-left: 10%;}
    100% {margin-left: 150%;}
}
@keyframes animateCloud3Loop {
    0% {margin-left: -100%;}
    100% {margin-left: 150%;}
}

.home-heading {
    color: #480355;
    font-size: 100px;
    display: flex;
    justify-content: center;    /* make text and icon in center of home-heading flexbox */
    align-items: center;    /* make main axis of text and icon align in center */
    /* text-shadow: 1px 1px 5px #000000; */
    margin-top: -250px;
    position: relative;
    z-index: 1;
}

.intro {
    display: flex;
    justify-content: center;
}
.intro-content {
    width: 50%;
    background: #715AFF;
    padding: 20px;
    border-radius: 20px;
    margin: 3% 0 5%;
    position: relative;
    z-index: 1;
}

.wave-background {
    width: 100%;
    background: transparent;
}
.dive {
    color: rgba(255, 255, 255, 0.755);
    cursor: pointer;
}
.wave {
    height: 250px;
    background: rgba(49, 49, 218, 0.65);
    margin-top: -10%;
    animation: animateWave 5s ease-in-out infinite;
    z-index: 0;     /* by default when transform is used */
}
@keyframes animateWave {
    0%, 100% {
        clip-path: polygon(0 76%, 13% 74%, 29% 75%, 44% 80%, 57% 86%, 71% 87%, 85% 87%, 100% 82%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 78%, 12% 85%, 23% 90%, 32% 91%, 49% 86%, 67% 79%, 83% 77%, 100% 79%, 100% 100%, 0% 100%);
    }
}

.website-guide {
    width: 100%;
    background: rgb(0, 5, 126);
    background: linear-gradient(0deg, rgba(0, 5, 126, 1) 0%, rgba(49, 49, 218, 0.65) 100%);
    padding: 0.01% 5% 7% 0%;
}
.website-section {
    color: rgba(255, 255, 255, 0.755);
    text-decoration: none;
    cursor: pointer;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dive:hover,
.website-section:hover {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}
.about-section:hover .sea-lion-tail {
    animation: animateSeaLion 1s infinite linear;
}
.projects-section:hover .octopus-body {
    animation: animateOctopusBody 3s infinite linear;
}
.projects-section:hover .octopus-left-tentacle {
    animation: animateOctopusLeftTentacle 3s infinite linear;
}
.projects-section:hover .octopus-right-tentacle {
    animation: animateOctopusRightTentacle 3s infinite linear;
}
.contact-section:hover .starfish {
    animation: animateStarfish 1.5s infinite linear;
}

.animal {
    position: relative;
    z-index: 0;     /* by default when transform is used */
}
.sea-lion-body {
    width: 20%;
    height: 20%;
    margin-top: -3%;
    margin-left: 2%;
}
.sea-lion-tail {
    width: 5%;
    height: 5%;
    margin-top: -5.9%;
    margin-left: -21.5%;
    transform-origin: 100% 20%;
}
.octopus-body {
    width: 22%;
    height: 22%;
    margin-top: -11.5%;
}
.octopus-left-tentacle {
    width: 6%;
    height: 6%;
    margin-top: 5%;
    margin-left: -12%;
}
.octopus-right-tentacle {
    width: 6%;
    height: 6%;
    margin-top: -6.3%;
    margin-left: 12%;
}
.starfish {
    width: 40%;
    height: 40%;
    margin-top: -4%;
}
@keyframes animateSeaLion {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(-10deg);}
    60% {transform: rotate(0deg);}
    90% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}
@keyframes animateOctopusBody {
    50% {transform: translateY(-8%);}
}
@keyframes animateOctopusLeftTentacle {
    50% {transform: rotate(-20deg);}
}
@keyframes animateOctopusRightTentacle {
    50% {transform: rotate(20deg);}
}
@keyframes animateStarfish {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(0deg);}
    70% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}

.section-name {
    color: white;
    font-size: larger;
    position: relative;
    z-index: 1;
}
.about-name {
    margin-top: -3.8%;
    margin-bottom: 4%;
}
.projects-name {
    margin-top: -14%;
    margin-bottom: 12.5%;
}
.contact-name {
    margin-top: -11.5%;
    margin-bottom: 4.8%;
}

.section-description {
    width: 40%;
    font-size: large;
    text-align: center;
    padding: 0 5%;
    position: relative;
    z-index: 1;
}