.projects {
    padding: 65px 50px 7%;
    background: rgba(45, 54, 182, 0.85);
    overflow: hidden;
}

.octopus {
    width: 100%;
    margin-left: -50px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
.octopus-head {
    width: 80%;
    transform: rotate(-90deg);
    margin-top: -10%;
    margin-left: 62%;
}
.right-tentacle {
    width: 80%;
    transform: rotate(45deg);
    margin-top: -10%;
    margin-left: -47%;
}
.left-tentacle {
    width: 80%;
    transform: rotate(-45deg);
    margin-left: 66%;
}

.project {
    color: rgba(255, 255, 255, 0.8);
    width: 40%;
    margin-left: 2%;
    text-align: center;
}
.project-name {
    color: #480355;
    font-size: larger;
    font-weight: 500;
}
.project-links {
    display: flex;
    justify-content: space-evenly;
}
.demo {
    color: rgba(255, 255, 255, 0.755);
    background: #5887FF;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
}
.code {
    color: rgba(255, 255, 255, 0.755);
    background: #715AFF;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
}
.demo:hover,
.code:hover {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}
.demo:active,
.code:active {
    box-shadow: 1px 1px 5px #000000;
}

.art-heading {
    margin-bottom: 0;
}
.art {
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    border-radius: 20px;
    margin-top: 5%;
    position: relative;
    z-index: 1;
}
.mom {
    width: 40%;
    margin-top: 5%;
}
.art-description {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 60%;
}