.projects {
    padding-top: 65px;
    padding-bottom: 7%;
    /* background: rgba(33, 41, 166, 0.75); */
    background: rgba(45, 54, 182, 0.85);
}

.title {
    color: #480355;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 1px 1px 5px #000000; */
}