.projects {
    height: 100%;
    padding-top: 65px;
    /* background-color: #7699D4; */
}

.title {
    color: #480355;
    font-size: 50px;
    /* margin: 0 0 0 50px; */
    /* text-shadow: 1px 1px 5px #000000; */
}