.projects {
    padding: 65px 50px 7%;
    background: rgba(45, 54, 182, 0.85);
    overflow: hidden;
}

.octopus {
    width: 100%;
    margin-left: -50px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
.octopus-head {
    width: 50%;
    height: 50%;
    transform: rotate(-90deg);
    margin-left: 75%;
    margin-bottom: -10%;
}
.right-tentacle {
    width: 10%;
    height: 10%;
    transform: rotate(45deg);
    margin-top: 20%;
    margin-left: -3%;
}
.left-tentacle {
    width: 10%;
    height: 10%;
    transform: rotate(-45deg);
    margin-top: 20%;
    margin-left: 93%;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.project-gif {
    width: 35%;
    border-radius: 20px;
    border: 5px solid #540364;
}
.perfectGift, .compassLogo {
    width: 15%;
    margin: 0 8%;
}
.relateWebsite {
    width: 25%;
    margin: 0 5%;
}

.project-text {
    color: rgba(255, 255, 255, 0.8);
    width: 35%;
    margin-left: 3%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.project-name {
    color: #540364;
    font-size: larger;
    font-weight: 500;
}
.project-links {
    display: flex;
    justify-content: space-evenly;
}
.project-link-button {
    color: rgba(255, 255, 255, 0.755);
    background: #715AFF;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
}
.project-link-button:hover {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}
.project-link-button:active {
    box-shadow: 1px 1px 5px #000000;
}

.art-heading {
    margin-bottom: 0;
}
.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
iframe {
    border-radius: 20px;
    margin-top: 5%;
}
.baby {
    width: 30%;
    margin-top: 5%;
}
.mom {
    width: 40%;
    margin-top: 5%;
}
.art-description {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 60%;
}

/* when display screen is less than or equal to 768 pixels wide */
@media (max-width: 768px) {
    iframe {
        width: 85%;
        height: 85%;
    }
    .project-link-button {
        padding: 10px;
        border-radius: 10px;
    }

    .perfectGift, .compassLogo {
        width: 25%;
    }
    .relateWebsite {
        width: 35%;
    }

    .baby {
        width: 40%;
    }
}

/* when display screen is less than or equal to 600 pixels wide */
@media (max-width: 600px) {
    .project {
        flex-direction: column;
    }
    .project-gif {
        width: 85%;
    }
    .project-text {
        width: 85%;
        margin-left: 0;
    }

    .perfectGift, .compassLogo {
        width: 35%;
    }
    .relateWebsite {
        width: 45%;
    }

    .baby {
        width: 50%;
    }
    .mom {
        width: 70%;
    }
    .art-description {
        width: 85%;
    }
}

/* when display screen is less than or equal to 425 pixels wide */
@media (max-width: 425px) {
    .baby {
        width: 60%;
    }
}