.navigation-bar {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    text-shadow: 1px 1px 5px #000000;
}

.mobile-space {
    flex: 1;
}

.space {
    flex: 1;
}

.navbar-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-items li {
    padding: 0 20px;    /* adds space between navbar links */
}

/* when NavLink isn't clicked */
.navbar-items a {
    color: rgb(187, 185, 185);
    text-decoration: none;
    text-shadow: 1px 1px 5px #000000;
}

.navbar-items a:hover {
    color: white;
}

/* when display screen is less than 512 pixels wide, then align logo (name) to left */
@media (max-width: 512px) {
    .mobile-space,
    .space {
        display: none;
    }
}

/* when display screen is between 512 and 768 pixels wide, then center logo (name) */
@media (max-width: 768px) {
    .logo {
        flex: 1;
        margin-left: 0px;
    }
    .navbar-items {
        display: none;
    }
}

/* when display screen is larger or equal to 769 pixels wide, don't display menu button */
@media (min-width: 769px) {
    .menu-button,
    .mobile-space {
        display: none;
    }
}