.App {
  text-align: center;
  font-family: Rubik, sans-serif;
  display: 'flex';
  color: 'white';
  min-height: 100vh;
}

.space {
  height: 8%;
}

.title {
  color: #55C1FF;
  font-size: 50px;
  text-align: left;
  margin-left: 50px;
  text-shadow: 1px 1px 50px #000000;
}

.Home {
  height: 100%;
}

.About {
  height: 100%;
}

.Projects {
  height: 100%;
}

.Contact {
  height: 100%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
